* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background-color: #bf1722;
	color: white;
	padding: 8px;
	z-index: 100;
}
.skip-link:focus {
	top: 0;
}
.navbar {
	font-family: cursive;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
.navbar .logo {
	font-size: 2rem;
	margin: 0.5rem;
}
.navbar .logo a {
	text-decoration: none;
	color: white;
}
.nav-links {
	height: 100%;
}
.nav-links ul {
	display: flex;
	margin: 0;
	padding: 0;
}
.nav-links li {
	list-style: none;
}
.nav-links li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1.2rem;
}
.nav-links li:hover {
	background-color: #555;
}
.toggle-button {
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 44px;
	height: 44px;
	border: none;
	background: none;
	padding: 6px;
}
.toggle-button .bar {
	width: 100%;
	height: 6px;
	background: #fff;
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}
main {
	margin-top: 61.3px;
	/* overflow: hidden; */
}
.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/images/heros/hero-image-small.jpg') center;
	background-size: cover;
	padding: 4rem 2rem;
	color: white;
	font-family: cursive;
}
.hero div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}
.hero span {
	font-size: 4rem;
	padding-bottom: 1rem;
}
.hero article p {
	font-size: 1.5rem;
	font-weight: 200;
}
.hero article a {
	padding: 1rem;
	margin-top: 0.75rem;
}
.hero a {
	background-color: goldenrod;
	text-decoration: none;
	color: white;
	border-radius: 0.25rem;
	text-align: center;
	display: inline-block;
	transition: all 0.3s;
}
.hero a:hover {
	opacity: 0.6;
}
.container {
	max-width: 1200px;
	margin: 0 auto 1em;
}
.title {
	margin-bottom: -5rem;
	padding: 1.5rem 2rem;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.title h1 {
	font-size: 32px;
	padding-bottom: 0.5rem;
	border-bottom: 3px solid #eeeeee;
}
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
	grid-gap: 1rem;
	padding: 5rem 2rem 2rem;
}
.card {
	border-radius: 0.5rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: 0.3s ease;
}
.card figure img {
	/* object-fit: cover; */
	width: 100%;
	height: 230px;
	display: block;
}
.card figure figcaption {
	background-color: #333;
	width: 100%;
	color: white;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	padding: 4px 0;
}
.card .content {
	padding: 16px;
}
.card .rating {
	color: #ff9529;
	font-size: 18px;
}
.card .content h2 {
	margin: 15px 0;
}
.card .description {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	text-align: justify;
}
.card .content button {
	width: 100%;
	padding: 0.6rem 1rem;
	margin: 0.8rem 0 0;
	/* text-decoration: none; */
	background-color: #f4511e;
	border: none;
	cursor: pointer;
	color: white;
	border-radius: 0.25rem;
	text-align: center;
	display: inline-block;
	transition: all 0.5s;
	font-size: 22px;
}
.card .content button:hover {
	opacity: 0.8;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
/* Restaurant Detail */
.resto-details {
	padding: 5rem 2rem 2rem;
	font-family: 'Roboto', sans-serif;
}
.img-resto img {
	width: 100%;
	border-radius: 10px;
}
.info-resto,
.menu-resto,
.review-resto,
.add-review-form {
	margin: 10px 0;
}
.info-resto h2 {
	margin: 5px 0;
}
.info-resto p:nth-of-type(2) {
	margin-bottom: 8px;
}
.menu-resto div > ul {
	padding: 18px;
	border-radius: 10px;
	border: 1px solid #000;
	margin-top: 10px;
}
.menu-resto div > ul > li {
	margin-left: 28px;
	font-size: 2rem;
	font-weight: 700;
}
.menu-resto div > ul > ul {
	padding-left: 16px;
	columns: 2;
}
.menu-resto div > ul > ul > li {
	margin-left: 28px;
	padding: 4px;
}
.list-menu {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 10px;
}
.reviewer-resto:hover {
	border-radius: 10px;
	box-shadow: 0px 10px 13px -7px #333, 5px 5px 5px 5px #333;
}
.reviewer-resto:first-child {
	margin-top: 20px;
}
.review-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em 0.2em;
	color: #f4511e;
	border-bottom: 1px solid #000;
}
.reviewer-name {
	font-weight: bold;
}
.reviewer-date {
	font-size: 0.8em;
	font-weight: lighter;
}
.review-body {
	padding: 0.5em 1em 1em;
	text-align: left;
}
.add-review-form form {
	margin-top: 15px;
	text-align: left;
}
.add-review-form label {
	margin-bottom: 5px;
	display: block;
}
.add-review-form input {
	height: 44px;
	margin-bottom: 20px;
}
.add-review-form input,
.add-review-form textarea {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
}
.add-review-form textarea {
	height: 15vh;
	margin-bottom: 20px;
}
.add-review-form button {
	height: 44px;
	padding: 10px 40px;
	background-color: goldenrod;
	border: none;
	cursor: pointer;
	display: block;
	color: #fff;
}
.add-review-form button:hover {
	opacity: 0.8;
}
.like {
	font-size: 18px;
	position: fixed;
	bottom: 16px;
	right: 16px;
	background-color: #ce1212;
	color: white;
	border: 0;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* End Restaurant Detail */
footer {
	background-color: #333;
	padding: 0.75rem;
	color: white;
	text-align: center;
	font-size: 0.9rem;
}
@media only screen and (min-width: 432px) {
	.menu-resto div > ul > ul {
		columns: 3;
	}
}
@media only screen and (max-width: 576px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	.toggle-button {
		display: flex;
	}
	.toggle-button.open .bar:nth-child(1) {
		transform: translateY(13px) rotate(405deg);
	}
	.toggle-button.open .bar:nth-child(2) {
		transform: translateX(-50px);
		background: transparent;
		box-shadow: none;
	}
	.toggle-button.open .bar:nth-child(3) {
		transform: translateY(-13px) rotate(-225deg);
	}
	.nav-links {
		display: none;
		width: 100%;
	}
	.nav-links ul {
		width: 100%;
		flex-direction: column;
	}
	.nav-links ul li {
		text-align: center;
	}
	.nav-links ul li a {
		padding: 1rem;
	}
	.nav-links.active {
		display: flex;
	}
	main {
		margin-top: 60px;
	}
}
@media only screen and (min-width: 576px) {
	.menu-resto div > ul > ul {
		columns: 4;
	}
}
@media only screen and (min-width: 768px) {
	.hero {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/images/heros/hero-image-large.jpg') center;
		background-size: cover;
	}
	.resto-details .detail {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 20px;
	}
	.info-resto {
		margin: 0;
	}
	.info-resto h2 {
		margin-top: 0;
	}
	.menu-resto div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 20px;
	}
	.menu-resto,
	.review-resto,
	.add-review-form {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.menu-resto div > ul > ul {
		columns: 2;
	}
}
@media only screen and (min-width: 992px) {
	.menu-resto div > ul > ul {
		columns: 3;
	}
}

@media only screen and (min-width: 1200px) {
	.hero {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/images/heros/hero-image.jpg') center;
		background-size: cover;
	}
}
